* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FF5349;
    font-family: 'Lato', sans-serif;
    
}

#container {
    width: 100vw;
    height: 100vh;
    
    
}

h1 {
    font-size: 6rem;
    color: #F0F0F1;
    text-align: center;
    padding: 5% 0 2% 0;
}

h3 {
    font-size: 2rem;
    color: #F0F0F1;
    text-align: center;
    padding: 1% 0 3% 0;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 4vw;
    color: #292C44;
}

input {
    width: 25vw;
    height: 20vh;
    font-size: 3vw;
    color: #292C44;
    border: 2px solid #292C44;
    border-radius: 15px;
    padding: 0 3%;
    text-align: right;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    outline: none;            
}

input:focus {
    background-color: darkgrey;
}

section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 2rem;
}

@media (max-height: 400px) {
    h1 {
        font-size: 3rem;
    }
    input {
        font-size: 18vh;
  }
}

@media (max-width: 700px) {
    form {
        flex-direction: column;
        align-items: center;
        
        font-size: 6vw;
    }
    input {
        width: 50vw;
        height: 10vh;
        font-size: 6vw;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
}